.modal-image-wrapper {
    height: 200px;
}

#modal-image {
    object-fit: contain;
}

@media (min-width: 700px){
    .modal-image-wrapper{
        height: fit-content;
        aspect-ratio: 2/1;
    }
}